@import '../../shared.css';

.app {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow: hidden;
    width: 900px;
    padding: 24px;

    @media (max-width: 900px) {
        width: 720px;
    }
    @media (--tablet) {
        width: 100%;
    }
}

.footer {
    border-top: 1px solid var(--text-secondary);
    padding-top: 8px;
    margin-inline: 16;
    text-align: center;
    color: var(--text-secondary);
    @mixin font-2xs;
}

.sectionTitle {
    font-weight: bold;
    margin: 0 0 4px 0;
    @mixin font-md;
}
