@import '../../../../components/shared.css';

.form {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
}

.formInput {
    display: flex;
    gap: 8px;
    width: 100%;
}

.textarea {
    width: 100%;
}

.shouts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--text-secondary);
}

.shout {
    display: flex;
    padding: 8px;
    gap: 8px;
    border: 1px solid var(--control-outline);
    background: var(--control-bg);
    border-radius: 4px;
    width: fit-content;

    @media (--mobile) {
        flex-direction: column;
        width: 100%;
    }
}

.time {
    white-space: nowrap;
}

.text {
    white-space: pre-wrap;
}

.pagination {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    color: var(--text-secondary);
    margin-top: 8px;
}

.paginationLink {
    color: var(--text-secondary);
}
